@using RS1_2020_01_30.VM;

@model TakmicenjeDodajVM


<body>
    <form asp-controller="Takmicenje" asp-action="Snimi">
        <div class="container">
            <br /><br /><br />
            <h3>Dodavanje takmičenja</h3>

            <input asp-for="SkolaID" hidden />

            <div>
                <label>Škola domaćin: </label>
                <input asp-for="Skola" style="border:none; font-weight:bold;" readonly />
            </div>
            <div>
                <label>Predmet: </label>
                <select asp-for="PredmetID" asp-items="@Model.ListaPredmeta"></select>
            </div>
            <div>
                <label>Razred: </label>
                <select asp-for="RazredID" asp-items="@Model.listaRazreda"></select>
            </div>
            <div>
                <label>Datum: </label>
                <input type="datetime" asp-for="Datum" />
            </div>
        </div>
        <button class="btn btn-primary"  type="submit">Snimi</button>
    </form>
</body>