@using RS1_2019_01_21.VM

@model OdrzanaNastavaDodajVM

<body>
    <form asp-controller="OdrzanaNastava" asp-action="Snimi">

        <input hidden asp-for="NastavnikID" />
        <input hidden asp-for="SkolskaGodinaID" />

        <div class="container">
            <div>
                <label>Skola</label>
                <select asp-for="SkolaID" asp-items="@Model.SkolaLista"></select>
            </div>
            <div>
                <label>Nastavnik</label>
                <input readonly asp-for="NastavnikImePrezime" />
            </div>
            <div>
                <label>Skolska godina</label>
                <input readonly asp-for="SkolskaGodinaOznaka" />
            </div>
            <div>
                <label>Datum ispita</label>
                <input asp-for="DatumIspita" type="date" />
            </div>
            <div>
                <label>Predmet</label>
                <select asp-for="PredmetID" asp-items="@Model.PredmetLista"></select>
            </div>

            <br /><br />
            <button class="btn btn-primary" type="submit">Snimi</button>
        </div>
    </form>

</body>