@using RS1_2019_12_02.VM

@model PopravniIspitIndexVM

<body>
    <div class="container">
        <br /><br /><br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Skolska godina</td>
                    <td>Skola</td>
                    <td>Odjeljenje</td>
                    <td>Akcija</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.ListaOdjeljenja)
                {
                    <tr>
                        <td>@x.SkolskaGodinaOznaka</td>
                        <td>@x.SkolaOznaka</td>
                        <td>@x.OdjeljenjeOznaka</td>
                        <td><a asp-controller="PopravniIspit"
                               asp-action="Prikaz"
                               asp-route-OdjeljenjeID="@x.OdjeljenjeID">Odaberi</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>