@using RS1_2020_01_30.VM

@model AjaxDodajUrediVM

<body>
    <form asp-controller="Ajax" asp-action="SnimiUcesnika">
        <div class="container">
            <br /><br />
            <h3>Dodaj/Uredi učesnika</h3>
            <br />

            <input hidden asp-for="TakmicenjeID" />


            <div>
                <label>Učesnik: </label>
                <select asp-for="UcesnikID" asp-items="@Model.listaUcesnika"></select>
            </div>
            <div>
                <label>Bodovi: </label>
                <input type="number" asp-for="Bodovi" />
            </div>
            <button class="btn btn-primary" type="submit">Snimi</button>
        </div>
    </form>
</body>